<img src={{question.image}} alt={{question.author}} class="avatar-frame-detail"/>
{{question.author}} would like to know: {{question.question}} <br><br>

{{question.author}} also notes: <br><br>
{{question.note}}

{{update-question question=question update='update'}}

<button {{action 'delete' question}} class="btn btn-danger">Delete</button>
