<li><p><img src={{question.image}} class="avatar-frame"/> </p>{{question.author}} Seeks Knowledgement<br>
  {{#if isQuestionShowing }}
    <h4 class="text-primary">{{#link-to 'question' question.id}}{{question.question}}{{/link-to}}</h4>
    <button {{action 'questionHide'}} class="btn btn-default">HideQuestion</button>
  {{else}}
    <br> <button {{action 'questionShow'}} class="btn btn-primary">ShowQuestion</button>
  {{/if}}

</li><hr>
<br>
