<h2>{{model.author}} asks: </h2>

<h3>{{model.question}} </h3>

{{question-detail question=model destroyQuestion="destroyQuestion" updateQuestion="updateQuestion"}}
<!-- {{update-question question=model update="update"}}

<button {{action 'delete' question}} class='btn btn-danger'>Delete</button> -->

<h2>Answers</h2>
<ul class='no-bull'>
  {{#each model.answers as |answer|}}
    <p>{{answer.answer}}</p>
    <p>{{format-date answer.date_added}}</p>
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer" question=model}}
